ion-menu {
 .head{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2em;
   img{
     max-width: 40px;
     margin-bottom: .7em;
   }

   h2, p{
     margin: 0;
   }
 }
  .item {
    padding: 0 1em !important;
    font-size: 1.2em !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
  }
}
