
  .content{
    background: #fff8f5;
  }

  .drawing{
    position: relative;
  }


  .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1em;
    background: white;
    height: 160px;
    width: 160px;
    border-radius: 120px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9;

    h1{
      align-self: center;
      font-size: 1.6em !important;
      color: rgb(254,111,61);
      font-weight: bolder;
      text-transform: uppercase;
    }
  }


  .mobile-section{
    p{
      font-size: 1.5em;
      margin-top: 3em;
      color: rgb(254,111,61);
    }

    ion-item{
      background-color:#fff8f5;
    }


    input, input::placeholder{
      text-align: center;
    }


  }

  .back-btn{
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    border: 0;
    border-top: 1px solid;
    padding: 0px;
    border-radius: 0;
    color: #281e22;
    background-color: transparent !important;
    opacity: 0.5;
    font-size: 1em;
  }

