<script src="../../app/app.component.ts"></script>
<ion-header class="nav-header" no-border>
  <ion-navbar class="navbar" color="primary">
    <ion-buttons left mode="md">
      <button menuToggle ion-button icon-only>
        <img class="menu-icon" src="assets/icon/menu.png">
      </button>
    </ion-buttons>
    <ion-title class="nav-title">Answers</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="ios-notifications-outline" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="bg-primary-gradient">
  <section class="overlay-box">
    <div class="head">
      <button (click)="prevSlide()" icon-only class="nav-arrow">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>

      <div class="test-info">
        <h1>English</h1>
        <p>Mid term</p>
        <h2>M.Q Paper 1</h2>
        <p>(2 hours)</p>
      </div>

      <button (click)="nextSlide()" icon-only class="nav-arrow">
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </div>
    <ion-slides #questionSlides class="questions">
      <ion-slide class="question" *ngFor="let i of [0,1,2,3]; i as index">
        <div class="card" *ngFor="let i of [1,2,3]">
          <div class="statement">
            <span>{{i + 1}}. </span>
            <p> Contrary to popular belief, Lorem Ipsum is not simply random text.
              It has roots in a piece </p>
          </div>
          <div margin-left>
            <p text-left no-margin margin-left>Answer: Yes</p>
            <p text-left no-margin margin-left>Your Answer : NO</p>
          </div>
        </div>

      </ion-slide>

    </ion-slides>

    <section class="marks-card" *ngIf="showResult">
      <h1>Total Marks: 80/100</h1>
      <button>View Answers</button>
      <!-- <button>History</button> -->
    </section>
  </section>
</ion-content>
