page-showcase-details {
  .nav-title{
    p{
      margin: 0;
      font-size: 0.8em;
    }
  }

  .resource{
    padding: 1em;
  }
  .actions{
    text-align: left;
    margin-top: 0.5em;
    .action{
      margin-left: 10px;
    }
  }

  .comments{
    text-align: left;
    padding: 1em ;
    padding-top: 0;
    h1{
      font-size: 1.2em;
    }
    .comment{
      display: flex;
      flex-direction: row;
      background: #E6E9ED;
      padding: 1em;
      border-radius: 10px;
      margin-bottom: 1em;

      img{
        max-width: 3em;
        border-radius: 5em;
      }

      .details{
        padding-left: 1em;
      }

      h2, p{
        margin: 0;
      }

      h2{
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }

  ion-item {
    padding: 1em 1em !important;
    margin-bottom: 0 !important;
  }

  .item-inner {
    border: 1px solid #F6E6D7 !important;
    padding: 0.1em 0.8em;
    border-radius: 10px;
    margin-left: 0px !important;
    box-shadow: none !important;
    max-height: 190px !important;
    height: 60px;
  }
}
