page-exam-examresult-detail {
ion-content{
    position: relative;
  }
  .hero-box {
    background: #fe6f3d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 4em;
  }

  ion-select {
    min-width: 50% !important;
    width: 100%;
    border: 2px solid #F6E6D7 !important;
    border-radius: 0px !important;
    background: white;
    color: #fe6f3d;
    margin: 0em 2em;
    max-width: 100% !important;
  }

  .select-text {
    text-align: center;
    font-weight: bold;
  }

  .select-icon {
    margin-right: 10px !important;
  }

  .select-icon-inner{
    color: #fe6f3d !important;
  }


  // slide

  .overlay-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
    margin-top: -2em;

    .head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .nav-arrow {
        background: transparent;
      }

      .info{
        h1{
          font-size: 1.2em;
        }
      }
    }

    .slides {
      padding: 2em;
    }

    .slide {

    }
  }

  .marks-card{
    display: flex;
    justify-content: space-around;
    background: white;
    text-transform: uppercase;

    h1{
      font-size: 1.4em;
    }

    h2{
      font-size: 1.2em;
    }

    .progress-percentage-wrapper {
      position: relative;
      margin: 1em;
    }
    .progress-percentage {
      position: absolute;
      color: #fe6f3d;
      width: 100%;
      font-weight: bolder;
      text-align: center !important;
      top: calc(50%);
      transform: translate(0, -50%);
    }

    .caption{
      font-size: 0.8em;
    }
  }






  button {
    margin-top: 3em;
    margin-bottom: 3em;
    height: auto !important;
  }

  .button-inner{
    height: auto !important;
  }


}
